@font-face {
	font-family: 'Montserrat';
	src: url('/static/fonts/Montserrat/Montserrat-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/static/fonts/Montserrat/Montserrat-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/static/fonts/Montserrat/Montserrat-Light.ttf');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('/static/fonts/Montserrat/Montserrat-RegularItalic.ttf');
	font-weight: normal;
	font-style: italic;
}