@import './shared/fonts';
@import './index';
@import './header';

html, body {
    font-family: 'Montserrat', 'Helvetica';
}
.customClassFromFile {
    color: blue;
    font-size: 30px;
}

.self-typed {
    font-size: 32;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

.absolute {
    position: absolute;
}

.base-page {
    padding-top: 150px;
    color: white;
}